#about-me {
  /* display: flex; */
  background-color: #BA8F2F;
  margin: 20px;
  padding: 10px;
}

#about-me-title {
  text-align: center;
}


#map-contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;


}

#google-map {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 10px;
  /* width:45% */
  flex-grow:1;

}

#contact-info {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 10px;
  /* width:45%; */
  flex-grow:1;
}

#contact-form {
  border: 1px solid black;
  background-color: white;
  margin: 20px;
  padding: 10px;
  width:100%;
}

/* for phone screens */
@media screen and (max-width: 600px) {
  #google-map{
    width:100%
  }

}

/* for larger devices */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  #google-map{
    width:100%
  }

}

/* for computer screens */
@media screen and (min-width: 1200px) {

}
