#about-me {
  background-color: #060606;
  margin: 20px;
  padding: 10px;
  color: #BA8F2F;
}

#about-me-title {
  text-align: center;
}

#map-contact-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#google-map {
  border: 2px solid #BA8F2F;
  background-color: white;
  margin: 20px;
  padding: 10px;
  flex-grow:1;
}

#contact-info {
  border: 2px solid #BA8F2F;
  background-color: #060606;
  margin: 20px;
  padding: 10px;
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact-form {
  border: 2px solid #BA8F2F;
  background-color: #060606;
  margin: 20px;
  padding: 10px;
  width:100%;
}

/* for phone screens */
@media screen and (max-width: 600px) {
  #google-map{
    width:100%
  }

}

/* for larger devices */
@media screen and (min-width: 600px) and (max-width: 1200px) {
  #google-map{
    width:100%
  }

}

/* for computer screens */
@media screen and (min-width: 1200px) {
  #google-map {
    width: 60%;
  }

  .contact-header {
    font-size: 36px;
    margin-bottom: 0;
  }

  .contact-body {
    font-size: 24px;
  }

  .fa-instagram {
    font-size: 24px;
  }
}
