#splash-wrapper {
  padding: 1rem;
  background-color: #060606;
  display: flex;
  justify-content: center;  
}

#splash-image {
  height: 85vh;
  object-fit: contain;
  border: 2px solid #BA8F2F;
}

#splash-text-wrapper {
  font-family: Gabarito;
  color: #BA8F2F;
  position: absolute;
  top: 45%;
  right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

#splash-header {
  /* font-family: Gabarito; */
  font-size: 48px;
  /* color: #BA8F2F; */
  /* position: absolute;
  right: 21%;
  top: 50%; */
  margin: 0;
}

#splash-body {
  font-size: 36px;
  margin: 0;
}

#book-button {
  font-size: 48px;
  border: 2px solid #BA8F2F;
  padding: 1rem 2rem;
}

#book-button:hover {
  cursor: pointer;
  font-size: 56px;
  transition: font-size 200ms ease;
}