#root {
  margin: 0;
  /* padding-bottom: 60px; */
  overflow: hidden;
  font-family: Gabarito;
  background-color: #060606;
  color: #BA8F2F;
}

body {
  margin: 0;
}

.errors {
  color: #c00000;
}

#section-title {
  color: #BA8F2F;
  font-size: 48px;
  margin-left: 5rem;
}

a {
  color: #BA8F2F;
}


@media screen and (max-width: 600px) {
  body {
    max-width: 600px;
  }
}
